/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*h1, h2, h3, */

html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	font-size: 120%;
	box-sizing: border-box;
	background-color: #5aa6a2;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 200px;
}	
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
	font-size: 80%;
}

.nav-button {
	background-color: #bdbdc6;
	width: 100px;
	margin-top: 20px
}

.nav-button:hover {
	background-color: #4f4cb5;
	color: #ebebeb;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 10px 0px;
	/* padding: 10px; */
}

.red-button {
	background-color: firebrick;
	width: 100px;
	color: #ebebeb;
	margin-top: 20px;
}

.green-button {
	background-color: #00c300;
	width: 100px;
	padding: 0px;
	height: 32px;
	margin-top: 20px;
}

.note-title {
	width: 400px;
}

.text-box{
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.note-content {
	padding: 5px;
	margin: auto;
	width: 400px;
	height: 200px;
	align-self: flex-start;
	flex-wrap: wrap;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #ebebeb;
	background-color: #213d3b;
	/* height: 90px; */
	display: flex;
	justify-content: flex-end;
}

.button-container-bottom {
	/* border: 1px solid orange; */
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin: 8px 0px;
}

.footer-nav-button {
	width: 150px;
	margin-top: 20px;
}

.footer-nav-button:hover {
	background-color: #4f4cb5;
	color: #ebebeb;
}

/* @media (max-width: 768px) {

} */
  
@media (max-width: 408px) {
	.button-container {
		justify-content: space-evenly;
		margin-left: 5px;
		margin-right: 5px;
	}
	.button-container-bottom {
		justify-content: space-evenly;
	}
	.note-title {
		width: 90%;
	}

	.note-content {
		width: 90%;
	}

	.button-tools {
		margin: auto;
		width: 90%;
		justify-content: center;
	  }
	  
	  .bt {
		width: 75px;
	  }
}